.idea/
__pycache__/
venv/
demo.py
report/
logs/
#common/pytest.py
#conf/pytest.conf
# 项目初始化
#common/base
#common/baseob
#conf/wechatApi
#init/
#run_api_test.py


# app_ui
common/appium
common/base/app_ui
common/baseob/app_ui
common/baseob/httpResponseResult.py
common/httpclient
common/java
common/captchaRecognitionTool.py

conf/app_ui
init/app_ui

testcase/app_ui
run_app_ui_test.py